
.acr-urv-ui-color-red
{
  color: #F01010;
}

.acr-urv-ui-border-green
{
  border: 3px double green;

}

.acr-urv-ui-border-blue
{
  border: 2px dashed blue;

}





.acr-urv-ui-big-text1
{
 font-size: 2.0em;

}

.acr-urv-ui-big-text2
{
 font-size: 7.0em;

}

.acr-urv-ui-color-green
{
  color: #5CDB95;

}

.acr-urv-ui-color-blue
{
  color: #659DBD;
}




