
.acr-urv-ui-grid
{
 overflow: hidden;
}

.acr-urv-ui-grid .ui-block-a
{
 float: left;
 width: 40%;
}
.acr-urv-ui-grid .ui-block-b
{
 float: left;
 width: 60%;
}

p
{
 margin-block-start: .3em;
 margin-block-end: .3em;
}

body
{
 font-family: 'Anonymous Pro';
 font-size: 1.2em;

}

.text_bold
{
 font-weight: bold;

}

.center
{
  text-align:center;
}

.acr-urv-ui-border-green
{
 border: 3px double green;

}

.acr-urv-ui-border-blue
{
 border: 2px dashed blue;

}


.acr-urv-ui-big-text1
{
 font-size: 2.0em;

}

.acr-urv-ui-big-text2
{
 font-size: 7.0em;

}

.acr-urv-ui-color-green
{
  color: #5CDB95;

}

.acr-urv-ui-color-blue
{
  color: #659DBD;
}

.acr-urv-ui-color-red
{
  color: #F01010;
}



